<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757309647173-49o2qcolt2tmp23kdj2ptc4hd4cer4ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757309647173-49o2qcolt2tmp23kdj2ptc4hd4cer4ee</string>
	<key>API_KEY</key>
	<string>AIzaSyDvSG__DIlsH4i7OT76-ItREFuwnql2_84</string>
	<key>GCM_SENDER_ID</key>
	<string>757309647173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avebe.fsm</string>
	<key>PROJECT_ID</key>
	<string>avebefsm</string>
	<key>STORAGE_BUCKET</key>
	<string>avebefsm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757309647173:ios:4d3a8a518f8522e003b62c</string>
</dict>
</plist>